
<!DOCTYPE html>

<html>

<head>
<title>Add Employee Payroll</title>
</head>

<body>

<h1>Add Employee Payroll</h1>

<form>

<label>Employee ID</label>
<br>

<input
type="text"
name="Employee ID"
>

<br><br>

<label>Salary</label>
<br>

<input
type="text"
name="Salary"
>

<br><br>

<label>Performance Score</label>
<br>

<input
type="text"
name="Performance Score"
>

<br><br>

<label>Department</label>
<br>

<input
type="text"
name="Department"
>

<br><br>

<label>Bonus %</label>
<br>

<input
type="text"
name="Bonus %"
>

<br><br>

<label>Bonus Amount</label>
<br>

<input
type="text"
name="Bonus Amount"
>

<br><br>

<label>Scholarship</label>
<br>

<input
type="text"
name="Scholarship"
>

<br><br>

<label>Tax</label>
<br>

<input
type="text"
name="Tax"
>

<br><br>

<label>Net Salary</label>
<br>

<input
type="text"
name="Net Salary"
>

<br><br>

<label>Performance Grade</label>
<br>

<input
type="text"
name="Performance Grade"
>

<br><br>

<label>Promotion</label>
<br>

<input
type="text"
name="Promotion"
>

<br><br>

<label>Reward</label>
<br>

<input
type="text"
name="Reward"
>

<br><br>

<label>Experience Level</label>
<br>

<input
type="text"
name="Experience Level"
>

<br><br>

<button type="submit">
Save
</button>

</form>

<br>

<a href="/">
Back Home
</a>

</body>
</html>
