
<!DOCTYPE html>

<html>

<head>
<title>Add Employee Master</title>
</head>

<body>

<h1>Add Employee Master</h1>

<form>

<label>Employee ID</label>
<br>

<input
type="text"
name="Employee ID"
>

<br><br>

<label>Employee Name</label>
<br>

<input
type="text"
name="Employee Name"
>

<br><br>

<label>Department</label>
<br>

<input
type="text"
name="Department"
>

<br><br>

<label>Experience (Years)</label>
<br>

<input
type="text"
name="Experience (Years)"
>

<br><br>

<label>Salary</label>
<br>

<input
type="text"
name="Salary"
>

<br><br>

<label>Performance Rating</label>
<br>

<input
type="text"
name="Performance Rating"
>

<br><br>

<label>Attendance %</label>
<br>

<input
type="text"
name="Attendance %"
>

<br><br>

<label>Certification</label>
<br>

<input
type="text"
name="Certification"
>

<br><br>

<label>Location</label>
<br>

<input
type="text"
name="Location"
>

<br><br>

<button type="submit">
Save
</button>

</form>

<br>

<a href="/">
Back Home
</a>

</body>
</html>
