
<!DOCTYPE html>

<html>

<head>
<title>Add Employee Master</title>
</head>

<body>

<h1>Add Employee Master</h1>

<form method="POST">
<script>

function recalculate() {


            document.getElementsByName(
               "bonus_amount"
               )[0].value = (parseFloat(document.getElementsByName("salary")[0].value) || 0) * (parseFloat(document.getElementsByName("bonus_percent")[0].value) || 0) / 100;
            
            document.getElementsByName(
               "net_salary"
               )[0].value = (parseFloat(document.getElementsByName("salary")[0].value) || 0) + (parseFloat(document.getElementsByName("bonus_amount")[0].value) || 0) - (parseFloat(document.getElementsByName("tax")[0].value) || 0);
            

}

</script>

           <label>Employee ID</label>
           <br>

           <input
           type="text"
           name="employee_id"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Employee Name</label>
           <br>

           <input
           type="text"
           name="employee_name"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Department</label>
           <br>

           <input
           type="text"
           name="department"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Experience (Years)</label>
           <br>

           <input
           type="text"
           name="experience_years"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Salary</label>
           <br>

           <input
           type="text"
           name="salary"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Performance Rating</label>
           <br>

           <input
           type="text"
           name="performance_rating"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Attendance %</label>
           <br>

           <input
           type="text"
           name="attendance_percent"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Certification</label>
           <br>

           <input
           type="text"
           name="certification"
           
           oninput="recalculate()"
           >

           <br><br>
           
           <label>Location</label>
           <br>

           <input
           type="text"
           name="location"
           
           oninput="recalculate()"
           >

           <br><br>
           
<button type="submit">
Save
</button>

</form>

<br>

<a href="/">
Back Home
</a>

</body>
</html>
