
<!DOCTYPE html>

<html>

<head>
<title>Employee Master</title>
</head>

<body>

<h1>Employee Master</h1>

<a href="/employee_master/add">
Add Record
</a>

<br><br>

<table border="1">

<tr>
<th>ID</th>

{% for col in columns %}
<th>{{ col }}</th>
{% endfor %}

<th>Actions</th>

</tr>

{% for row in rows %}

<tr>

<td>{{ row["id"] }}</td>

{% for col in columns %}
<td>{{ row[col] }}</td>
{% endfor %}

<td>

<a href="/employee_master/edit/{{ row['id'] }}">
Edit
</a>

<br><br>

<form
    method="POST"
    action="/employee_master/delete/{{ row['id'] }}"
>

<button type="submit">
Delete
</button>

</form>

</td>


</tr>

{% endfor %}

</table>

<br><br>

<a href="/">
Back Home
</a>

</body>
</html>
