
<!DOCTYPE html>

<html>

<head>
<title>Payroll Data</title>
</head>

<body>

<h1>Payroll Data</h1>

<a href="/payroll_data/add">
Add Record
</a>

<br><br>

<table border="1">

<tr>
<th>ID</th>

{% for col in columns %}
<th>{{ col }}</th>
{% endfor %}

</tr>

{% for row in rows %}

<tr>

<td>{{ row["id"] }}</td>

{% for col in columns %}
<td>{{ row[col] }}</td>
{% endfor %}

</tr>

{% endfor %}

</table>

<br><br>

<a href="/">
Back Home
</a>

</body>
</html>
