
<!DOCTYPE html>

<html>

<head>
<title>Add Payroll Data</title>
</head>

<body>

<h1>Add Payroll Data</h1>

<form method="POST">

        <label>Employee ID</label>
        <br>

        <select name="employee_id">

        {% for item in employee_master_options %}

        <option value="{{ item['employee_id'] }}">
           {{ item['employee_id'] }}
        </option>

        {% endfor %}

        </select>

        <br><br>
        
        <label>Salary</label>
        <br>

        <input
        type="text"
        name="salary"
        >

        <br><br>
        
        <label>Performance Score</label>
        <br>

        <input
        type="text"
        name="performance_score"
        >

        <br><br>
        
        <label>Department</label>
        <br>

        <input
        type="text"
        name="department"
        >

        <br><br>
        
        <label>Bonus %</label>
        <br>

        <input
        type="text"
        name="bonus_percent"
        >

        <br><br>
        
        <label>Bonus Amount</label>
        <br>

        <input
        type="text"
        name="bonus_amount"
        >

        <br><br>
        
        <label>Scholarship</label>
        <br>

        <input
        type="text"
        name="scholarship"
        >

        <br><br>
        
        <label>Tax</label>
        <br>

        <input
        type="text"
        name="tax"
        >

        <br><br>
        
        <label>Net Salary</label>
        <br>

        <input
        type="text"
        name="net_salary"
        >

        <br><br>
        
        <label>Performance Grade</label>
        <br>

        <input
        type="text"
        name="performance_grade"
        >

        <br><br>
        
        <label>Promotion</label>
        <br>

        <input
        type="text"
        name="promotion"
        >

        <br><br>
        
        <label>Reward</label>
        <br>

        <input
        type="text"
        name="reward"
        >

        <br><br>
        
        <label>Experience Level</label>
        <br>

        <input
        type="text"
        name="experience_level"
        >

        <br><br>
        
<button type="submit">
Save
</button>

</form>

<br>

<a href="/">
Back Home
</a>

</body>
</html>
